<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="shared/_layout">
<head>
    <title>Features</title>
</head>
<body>
<div layout:fragment="content" class="features-section">
    <div class="container">
        <h3>features</h3>
        <div class="features-grids">
            <div class="col-md-6 left-grid">
                <div class="features-grid1">
                    <div class="feature">
                        <h4>Fusce euismod</h4>
                        <p>Quisque nulla. Veibulum libero nisl, porta vel, scelerisque eget, suada at, neque. Vivamus
                            eget nibh. Etiam cursu vel metus.</p>
                    </div>
                    <div class="icon5">
                        <img src="images/icon1.png">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="features-grid1">
                    <div class="feature">
                        <h4>Proin dictum</h4>
                        <p>Fusce euismod consequat ante.m ipsum dolor sit amet, consectetuer adipiscing elit.
                            Pellentesque sed dolor. Aliquam congue ferm.</p>
                    </div>
                    <div class="icon5">
                        <img src="images/icon2.png">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="features-grid1">
                    <div class="feature">
                        <h4>Consectetuer adip</h4>
                        <p>Proin dictum elementum velit. Fusce euismod consequat ante. Loremlor sit amet, consectetuer
                            adipiscing elit. Pellentesque sed dolor.</p>
                    </div>
                    <div class="icon5">
                        <img src="images/icon5.png">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 right-grid">
                <div class="features-grid1">
                    <div class="feature">
                        <h4>Vestibulum libero</h4>
                        <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante.
                            Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="icon5">
                        <img src="images/icon3.png">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="features-grid1">
                    <div class="feature">
                        <h4>Quisque nulla</h4>
                        <p>Proin dictum elementum velit. Fusce euismod consequat ante. Loremlor sit amet, consectetuer
                            adipiscing elit. Pellentesque sed dolor.</p>
                    </div>
                    <div class="icon5">
                        <img src="images/icon4.png">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="features-grid1">
                    <div class="feature">
                        <h4>Pellentesque</h4>
                        <p>Fusce euismod consequat ante.m ipsum dolor sit amet, consectetuer adipiscing elit.
                            Pellentesque sed dolor. Aliquam congue ferm.</p>
                    </div>
                    <div class="icon5">
                        <img src="images/icon6.png">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>