<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="shared/_layout">
<head>
    <title>Pages</title>
</head>
<body>

<!-- 404 -->
<div class="main page-not-found text-center">
    <div class="container">
        <h1>Oops! </h1>
        <h2>page Could not found</h2>
        <p>There's a lot of reasons why this page is<span class="error"> 404</span>.<br>
            <span>Don't waste your time enjoying the look of it</span></p>
        <a href="index.html" class="button">go to home</a>
    </div>
</div>
<!-- 404 -->

</body>
</html>